@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../bower_components/bootstrap-material-design/sass/bootstrap-material-design';
@import '../../bower_components/bootstrap-material-design/sass/ripples';
@import '../../bower_components/magnific-popup/dist/magnific-popup';
@import '../../bower_components/bootstrap-material-design-icons/scss/material-icons';
$search-background: url('/img/search-bg.jpg');
$darken-overlay: rgba(0,0,0,0.5);
$active-button: #337ab7;

.navbar {
  margin: 0;
}

.search {
  margin: 0;
  background: $search-background;
  width: 100%;
  height: 250px;
}

#search-form {
  background: $darken-overlay;
  position: relative;
  margin: auto;
  width: 50%;
  height: 80%;
  margin-top: 20px;
  padding: 30px;
}

.search-type {
  background: white;
  color: black;
  text-align: center;
  width: 150px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}

.search-type.active {
  background: $active-button;
  color: white;
}

.form.row {
  margin: 0;
}

#search-submit {
  width: 250px;
}

#search-term {
  color: white;
}

.post {
  margin-top: 20px;
}

.post-list {
  margin: 20px 10px;
  max-width: 35%;
  display: inline-block;
  float: left;
  height: 600px;
}

.article-list {
  margin: 20px 10px;
  max-width: 25%;
  display: inline-block;
  float: left;
  height: 600px;
}

.posts-pagination {
  float: right;
  margin-top: 0;
  margin-right: 10px;
}

.posts-panel {
  overflow: hidden;
}

.post-list-panel {
  height: 630px;
}

.register-form {
  width: 30%;
  margin: 20px auto auto;
}

#register-form {
  margin: 30px;
}

.login-form {
  width: 30%;
  margin: 20px auto auto;
}

#login-form {
  margin: 30px;
}

.new-post-form {
  width: 60%;
  margin: 20px auto auto;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}

.detail-panel {
  width: 50%;
  margin: auto;
  margin-top: 30px;
  min-height: 500px;
}

.post-content {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}
